<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MvcCmsEntities" connectionString="metadata=res://MvcCms.Data/MvcCmsDataModel.csdl|res://MvcCms.Data/MvcCmsDataModel.ssdl|res://MvcCms.Data/MvcCmsDataModel.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=password;Host=10.6.6.5;Port=5432;Database=WPOPublic;Persist Security Info=True;Initial Schema=public;SSLMode=Allow&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.PostgreSql" />
      <add name="dotConnect for PostgreSQL" invariant="Devart.Data.PostgreSql" description="Devart dotConnect for PostgreSQL" type="Devart.Data.PostgreSql.PgSqlProviderFactory, Devart.Data.PostgreSql" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.PostgreSql" type="Devart.Data.PostgreSql.Entity.PgSqlEntityProviderServices, Devart.Data.PostgreSql.Entity.EF6, Version=8.3.21.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
</configuration>